

/* ==========================================================================
   Name:Creative Digital Agencies HTML Template
   Name: Sree Narayan Chakraborty
   Author Url:narayanchakraborty1993@gmail.com
   Version:1.0
   ========================================================================== */
  
  
/* ==========================================================================
   1:Basic CSS Section
   2:header CSS Section
   3:Service CSS Section
   4:Portfolio CSS Section
   5:Feature CSS Section
   6:Video CSS Section
   7:Skill CSS Section
   8:Team CSS Section
   9:Client Section 
   10:blog Section
   11:Sub-Footer Section
   12:Footer Section
   ========================================================================== */   
/* ==========================1:Basic CSS Section=================================*/
.no-padding{
    padding:0;
}
.no-margin{
    margin:0;
}
a{
    text-decoration: none;
}
ul{
    margin:0;
    padding:0;
}
ul li{
    list-style:none;
}
p{
    font-family: ;
    
}



/* ==========================Basic CSS Section End=================================*/
/* ==========================2:Header CSS Section=================================*/

#header-id {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#header-id .navbar .navbar-brand img {
	margin: 0;
}
#header-id .menu {
}
#header-id .menu ul li {
    margin: 0 10px;
}
#header-id .menu ul li a {
color: #fff;
transition: 0.5s;
text-decoration: none;
font-size: 18px;
    

}

#header-id .icon ul li a{
    color:#fff;
    font-size:20px;
}
#header-id .menu ul li a:hover,#header-id .icon ul li a:hover {
    background-color: unset;
    
}
#header-id .menu ul li a::after {
	position: absolute;
	content: "";
	height: 3px;
	width: calc(100%);
	background-color: #11749e;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.8s;
}
#header-id .menu ul li a:hover:after{
    opacity:1;
}
.left h1 {
	font-size: 60px;
	vertical-align: 25px;
	line-height: auto;
	color: #fff;
	margin: 20%;
}
.right p {
	font-size: 15px;
	/* padding: 2%; */
	margin: 27% 20% 10% 0;
	line-height: 20px;
	color: #fff;
	text-align: left;
}
.right a {
	font-size: 15px;
	padding: 2% 6%;
	/* margin-top: 16%; */
	line-height: 20px;
	color: #fff;
	text-align: left;
	border: 1px solid #00aeed;
	background-color: #00aeed;
	border-radius: 50px;
}

/* ==========================2:Header CSS Section Ends=================================*/
/* ==========================2:Who We Are CSS Section Starts=================================*/
.who-we-are-left h1{
    text-transform: uppercase;
    color:#000;
    margin-top: 10%;
}
.who-we-are-left p {
	color: #000;
	margin: 5% 0 8% 0;
}
.who-we-are-left a{
    	font-size: 15px;
	padding: 2% 6%;
	/* margin-top: 16%; */
	line-height: 20px;
	color: #fff;
	text-align: left;
	border: 1px solid #00aeed;
	background-color: #00aeed;
	border-radius: 50px;
}
.who-we-are-right img {
	margin: 10% 0 5% 0;
}


