

/* ==========================================================================
   Name:Creative Digital Agencies HTML Template
   Name: Sree Narayan Chakraborty
   Author Url:narayanchakraborty1993@gmail.com
   Version:1.0
   ========================================================================== */
  
  
/* ==========================================================================
   1:Basic CSS Section
   2:header CSS Section
   3:Service CSS Section
   4:Portfolio CSS Section
   5:Feature CSS Section
   6:Video CSS Section
   7:Skill CSS Section
   8:Team CSS Section
   9:Client Section 
   10:blog Section
   11:Sub-Footer Section
   12:Footer Section
   ========================================================================== */   
/* ==========================1:Basic CSS Section=================================*/
.no-padding{
    padding:0;
}
.no-margin{
    margin:0;
}
a{
    text-decoration: none;
}
ul{
    margin:0;
    padding:0;
}
ul li{
    list-style:none;
}
p{
    font-family: ;
    
}



/* ==========================Basic CSS Section End=================================*/
/* ==========================2:Header CSS Section=================================*/

#header-id {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#header-id .navbar .navbar-brand img {
	margin: 0;
}
#header-id .menu {
}
#header-id .menu ul li {
    margin: 0 10px;
}
#header-id .menu ul li a {
color: #fff;
transition: 0.5s;
text-decoration: none;
font-size: 18px;
    

}

#header-id .icon ul li a{
    color:#fff;
    font-size:20px;
}
#header-id .menu ul li a:hover,#header-id .icon ul li a:hover {
    background-color: unset;
    
}
#header-id .menu ul li a::after {
	position: absolute;
	content: "";
	height: 3px;
	width: calc(100%);
	background-color: #11749e;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.8s;
}
#header-id .menu ul li a:hover:after{
    opacity:1;
}
.left h1 {
	font-size: 60px;
	vertical-align: 25px;
	line-height: auto;
	color: #fff;
	margin: 20%;
}
.right p {
	font-size: 15px;
	/* padding: 2%; */
	margin: 27% 20% 10% 0;
	line-height: 20px;
	color: #fff;
	text-align: left;
}
.right a {
	font-size: 15px;
	padding: 2% 6%;
	/* margin-top: 16%; */
	line-height: 20px;
	color: #fff;
	text-align: left;
	border: 1px solid #00aeed;
	background-color: #00aeed;
	border-radius: 50px;
}

/* ==========================2:Header CSS Section Ends=================================*/
/* ==========================2:Who We Are CSS Section Starts=================================*/
.who-we-are-left h1{
    text-transform: uppercase;
    color:#000;
    margin-top: 10%;
}
.who-we-are-left p {
	color: #000;
	margin: 5% 0 8% 0;
}
.who-we-are-left a{
    	font-size: 15px;
	padding: 2% 6%;
	/* margin-top: 16%; */
	line-height: 20px;
	color: #fff;
	text-align: left;
	border: 1px solid #00aeed;
	background-color: #00aeed;
	border-radius: 50px;
}
.who-we-are-right img {
	margin: 10% 0 5% 0;
}

/* ==========================2:Who We Are CSS Section Ends=================================*/
/* ==========================2:Client CSS Section Starts=================================*/

/*Client Testimonial Css*/

.cd-testimonials-wrapper {
  position: relative;
  width: 100%;
  
  background-image:url('../img/client-background.jpg');
  margin: 2em 0 0 0;
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  padding: 20px 40px 0 0;
  z-index: 1;
}
.cd-testimonials-wrapper::after {
  /* quotation mark */
  content: '\201C';
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 50px;
  padding-top: 8px;
  margin-left: -25px;
  background: rgba(32, 32, 34, 0.9);
  font-family: "Georgia", serif;
  color: #ffffff;
  font-size: 70px;
  font-size: 4.375rem;
  text-align: center;
  /* visible on big devices only */
  display: none;
}

  .cd-testimonials-wrapper {
    margin: 0 auto;
    padding: 64px 50px 0 50px;
  }


  .cd-testimonials-wrapper::after {
    /* quotation mark visible */
    display: block;
  }


.cd-testimonials {
  color: #ffffff;
  text-align: center;
}
.cd-testimonials::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials > li {
  position: absolute;
  opacity: 0;
}
.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}
.cd-testimonials p {
	font-size: 26px;
	font-size: 1.625rem;
	line-height: 1.6;
	width: 65%;
	float: left;
}
@media only screen and (min-width: 768px) {
  .cd-testimonials p {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

.cd-testimonials p {
	font-size: 26px;
	font-size: 1.625rem;
	line-height: 1.6;
	width: 65%;
	float: left;
}


.cd-author img, .cd-author .cd-author-info {
  display: inline-block;
  vertical-align: middle;
}
/*modified */
.cd-client-image img{
    
}
/*modified */
.cd-author .cd-author-info {
	text-align: left;
	line-height: 1.2;
	margin:3% 5%;
}
.cd-author .cd-author-info li:first-child {
  font-size: 14px;
  font-size: 0.875rem;
}
.cd-author .cd-author-info li:last-child {
  font-size: 12px;
  font-size: 0.75rem;
  color: #6b6b70;
}

  .cd-author img {
    width: 50px;
    height: 50px;
  }
  .cd-author .cd-author-info {
    line-height: 1.4;
  }
.cd-author .cd-author-info li:first-child {
	font-size: 23px;
	/* font-size: 3rem; */
}
  .cd-author .cd-author-info li:last-child {
    font-size: 14px;
    color:#fff;
  }


.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}
.flex-direction-nav li:first-child {
  left: 0;
}
.flex-direction-nav li:last-child {
  right: 0;
}
.flex-direction-nav li a {
  display: block;
  height: 100%;
  width: 100%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.no-touch .flex-direction-nav li a:hover {
  background-color: transparent;
}
.flex-direction-nav li a::before, .flex-direction-nav li a::after {
  /* left and right arrows in css only */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2px;
  height: 13px;
  background-color: #ffffff;
}
.flex-direction-nav li a::before {
  -webkit-transform: translateY(-35px) rotate(45deg);
  -moz-transform: translateY(-35px) rotate(45deg);
  -ms-transform: translateY(-35px) rotate(45deg);
  -o-transform: translateY(-35px) rotate(45deg);
  transform: translateY(-35px) rotate(45deg);
}
.flex-direction-nav li a::after {
  -webkit-transform: translateY(-27px) rotate(-45deg);
  -moz-transform: translateY(-27px) rotate(-45deg);
  -ms-transform: translateY(-27px) rotate(-45deg);
  -o-transform: translateY(-27px) rotate(-45deg);
  transform: translateY(-27px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::before {
  -webkit-transform: translateY(-35px) rotate(-45deg);
  -moz-transform: translateY(-35px) rotate(-45deg);
  -ms-transform: translateY(-35px) rotate(-45deg);
  -o-transform: translateY(-35px) rotate(-45deg);
  transform: translateY(-35px) rotate(-45deg);
}
.flex-direction-nav li:last-child a::after {
  -webkit-transform: translateY(-27px) rotate(45deg);
  -moz-transform: translateY(-27px) rotate(45deg);
  -ms-transform: translateY(-27px) rotate(45deg);
  -o-transform: translateY(-27px) rotate(45deg);
  transform: translateY(-27px) rotate(45deg);
}
@media only screen and (min-width: 768px) {
  .flex-direction-nav li {
    width: 50px;
  }
}
@media only screen and (min-width: 1170px) {
  .flex-direction-nav li a::before, .flex-direction-nav li a::after {
    background-color: #5e5e63;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
    background-color: #ffffff;
  }
}

.cd-see-all {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #252527;
  text-align: center;
  text-transform: uppercase;
  color: #6b6b70;
  font-weight: 700;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-transition: color, 0.2s;
  -moz-transition: color, 0.2s;
  transition: color, 0.2s;
}
.no-touch .cd-see-all:hover {
  color: #79b6e4;
}

.cd-testimonials-all {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-testimonials-all .cd-testimonials-all-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul {
  width: 90%;
  max-width: 1170px;
  margin: 4em auto;
}
.cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
  clear: both;
  content: "";
  display: table;
}
.cd-testimonials-all .cd-testimonials-item {
  margin-bottom: 2em;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0) scale(0.4);
  -moz-transform: translate3d(0, 0, 0) scale(0.4);
  -ms-transform: translate3d(0, 0, 0) scale(0.4);
  -o-transform: translate3d(0, 0, 0) scale(0.4);
  transform: translate3d(0, 0, 0) scale(0.4);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform .3s, opacity .3s;
  -moz-transition: -moz-transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
}
.cd-testimonials-all p {
  position: relative;
  background: #79b6e4;
  color: #ffffff;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  border-radius: 0.25em;
  margin-bottom: 1em;
}
.cd-testimonials-all p::after {
  /* creating the triangle in css */
  content: '';
  position: absolute;
  top: 100%;
  left: 2em;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-top-color: #79b6e4;
}
.cd-testimonials-all .cd-author {
  text-align: left;
  margin-left: 1.5em;
}
.cd-testimonials-all .cd-author img {
  box-shadow: 0 0 0 transparent;
}
.cd-testimonials-all.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
  -webkit-overflow-scrolling: touch;
}
.cd-testimonials-all.is-visible .cd-testimonials-item {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}


  .cd-testimonials-all .cd-testimonials-item {
    width: 30%;
    margin: 0 1.6666% 3em;
  }


.close-btn {
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 5%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.close-btn::before, .close-btn::after {
  /* close icon in css */
  content: '';
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 24px;
  top: 8px;
  left: 19px;
  background-color: #39393c;
}
.close-btn::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



/*Client Testimonial Css*/

.client-quote-left{
    float:left;
}
.client-quote-right{
    float: left;
}


/* ==========================2:Client CSS Section Ends=================================*/
/* ==========================2:Service CSS Section Starts=================================*/
#service-section{
    background-image:url('../img/service-section-background.jpg');
    padding:2% 0 ;
}
.service-header-section  h1{
    color:#fff;
}
.service-header-section  p{
    color:#fff;
}
.service-item {
	margin: 5% 5% 0 0;
	padding: 5%;
}
.service-item .icon {
	border-radius: 60px;
	border: 1px solid #fff;
	width: 60px;
	height: 60px;
	margin: 0 auto;
    
}
.service-item .icon i {
	margin: 0 auto;
	padding: 0% 10%;
	line-height: 60px;
	font-size: 42px;
    color:#fff;
}
.service-item h2 {
	font-size: 20px;
	line-height: 25px;
    color:#fff;
	/* vertical-align: 25px; */
}
.service-item p{
    color:#fff;
}
/* ==========================2:Service CSS Section Ends=================================*/
/* ==========================2:What we Do CSS Section Starts=================================*/
.what-we-do-item i {
	margin: 40% 0 0 30%;
	line-height: 40px;
	font-size: 55px;
}
/* ==========================2:What we Do CSS Section Ends=================================*/
/* ==========================2:Latest News CSS Section Ends=================================*/
#latest-news-section{
        padding:5% 0 ;
}
.latest-news-item h2{
    font-size: 20px;
	line-height: 25px;
    color:#000;}
.latest-news-item p {
	margin-bottom: 5%;
}
.latest-news-item a{
    
    	font-size: 15px;
	padding: 2% 6%;
	/* margin-top: 16%; */
	line-height: 20px;
	color: #fff;
	text-align: left;
	border: 1px solid #00aeed;
	background-color: #00aeed;
	border-radius: 50px;
}

/* ==========================2:Latest News CSS Section Ends=================================*/
/* ==========================2:Social Media CSS Section Starts=================================*/
#social-media-section{
    background-image:url('../img/social-icon-section-background.jpg');
}
#social-media-section .social-items {
	margin: 15% 5%;
}
#social-media-section .social-items .social-icon {
	border-radius: 65px;
	border: 1px solid #fff;
	width: 65px;
	height: 65px;
	margin: 0 auto;
}
#social-media-section .social-items .social-icon i {
	margin: 0 auto;
	padding: 0% 30%;
	line-height: 65px;
	font-size: 28px;
	color: #fff;
}
#social-media-section .social-items ul li {
	display: inline-block;
    padding:0  2%;
}
/* ==========================2:Social Media CSS Section Ends=================================*/



